.primary-button {
  background-color: var(--red-rimacr-500-cta) !important;
  border: none;
  border-radius: .5rem;
  color: var(--neutrals-n-0);
  font-style: normal;
  font-weight: 700;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
}

.primary-button:hover {
  background-color: var(--red-rimacr-500-cta-hover) !important;
}

.primary-button__loader {
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}