.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header--bordered {
  border-bottom: 1px solid var(--neutrals-n-400);
}

@media (min-width: 768px) {
  .header {
    padding: 1.5rem 7.5rem;
  }
}