:root {
  --neutrals-n-0: #FFFFFF;
  --neutrals-n-100: #FAFBFF;
  --neutrals-n-200: #EDEFFC;
  --neutrals-n-400: #D7DBF5;
  --neutrals-n-500: #A9AFD9;
  --gray-4: #C5CBE0;
  --gray-1-titulos: #494F66;
  --gray-2-paragraph: #676F8F;
  --red-rimacr-500-cta: #FF1C44;
  --red-rimacr-500-cta-hover: #D40F2A;
  --feedback-success-SS300: #389E0D;
  --blue-berry-b-200: #E6E6FF;
  --blue-berry-b-500: #6464FA;
}

html {
  font-family: 'Lato', sans-serif;
}
